{% extends 'base.html.twig' %}

{% block title %}Zgłoszenie #{{ request.id }}{% endblock %}

{% block stylesheets %}
    <style>
        form .disabled{
            color:#868e96 !important;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        form .description {
            width: 100%; 
            padding: .6rem; 
            resize: none; 
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block body %}
    <main class="w-50">
        <div class="d-flex flex-row align-items-center justify-content-between mt-4 mb-4">
            <p class="display-6 mb-0">Zgłoszenie #{{ request.id }}</p>
            <a href="/admin" class="btn btn-dark">Powrót</a>
        </div>

        <form>
            <label class="form-label mt-4 required" for="form_address">Adres przystanku</label>
            <input type="text" id="form_address" name="form[address]" class="disabled form-control" value="{{ request.address }}" readonly="">

            <label class="form-label mt-4 required" for="form_description">Opis zgłoszenia</label>
            <textarea id="form_description" name="form[description]" class="disabled description form-control" rows="5" readonly="">{{ request.description }}</textarea>

            <label class="form-label mt-4" for="form_attachments">Załączniki</label>
            <ul if="form_attachments" class="list-group">
                {% for attachment in request.attachments %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Załącznik nr {{ loop.index }}
                        <a href="/uploads/{{ attachment }}" target="_blank" class="btn btn-dark">Zobacz</a>
                    </li>
                {% else %}
                    <li class="list-group-item">
                        Brak załączników
                    </li>
                {% endfor %}
            </ul>

            <label class="form-label mt-4" for="form_created_on">Data utworzenia</label>
            <input type="text" id="form_created_on" name="form[created_on]" class="disabled form-control" value="{{ request.createdOn|date('d-m-Y h:m:s') }}" readonly="">
        </form>
{% endblock %}